# Dependencies
/node_modules

# Build output
/dist

# GitHub Pages deployment temporary files
/gh-pages

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

# IDEs and other local configuration files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
